
// 主页尾部
.footer{
    margin-top: 20px;
    border-top: 1px solid #b6b5b5;
    .footer-top{
        .wrap{
            height: 200px;
             width: 1200px;
             margin: 0 auto;
             padding-top: 30px;
             dl{
                 
                 float: left;
                 margin-right: 125px;
                 line-height: 30px;
                 dt{
                     font-weight: bold;
                     font-size: 14px;
                     color:#333;
                 }
                 dd{
                     a{
                         color: #666;
                     }
                     a:hover{
                         text-decoration: underline;
                         color: #cc0000;
                     }
                 }
             }
             .code{
                 float: left;
                 text-align: center;
                 img{
                     width: 100px;
                     height:100px;
                 }
             }
         }
    }
    .footer-bottom{
        background: #2d2d2d;
        .wrap{
            width: 1200px;
            margin: 0 auto;
            padding: 30px 0;
           ul{
               margin: 20px 0;
                display: flex;
                color: #999;
                li{
                    padding: 0 10px;
                    a{
                        color: #FFF;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
            .ul2{
                li{
                    a{
                        color:#999;
                    }
                }
            }
            p{
                padding: 0 10px;
                color:#999;
            }
    
        }
    }
    
}